/* CSS for index.html */

h1{
    text-align: center;
}

h2::after{
    content: '.pdf';
    color: rgb(234, 0, 255);
    font-size: 15px;
    background-color: rgb(9, 233, 196);
}
h2::before{
    content: 'Start :';
    color: rgb(234, 0, 255);
    font-size: 15px;
    background-color: rgb(9, 233, 196);
}
p::first-letter{
    font-size: 90px;
}
p::first-line{
    background-color: aqua;
}
input::placeholder{
    color: chocolate;
    background-color: blanchedalmond;
}
::selection{
    background-color: chartreuse;
}







