/* CSS for index.html */

h1{
    text-align: center;
}
.position{
    width: 450px;
    border: 5px solid black;
    
}
.position-box{
    position: relative;
}

.frame{
    z-index: 10;
}
.women{
    top: -190px;
    z-index: 5;
}
.icon-box{
    top: -350px;
    left: 350px;
    z-index: 15;
}







