h1{
    text-align: center;
}
.header, .nav, .main, .sidebar, .advertise, .footer{
    background-color: aqua;
    border: 2px solid rgb(255, 0, 255);
    padding: 5px;
    border-radius: 5px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
    gap: 20px;
}
.advertise{
    grid-area: advertise;
}
.footer{
    grid-area: footer;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header    header    header    header"
    "nav      main      main      sidebar"
    "nav      main      main      advertise"
    "footer    footer    footer    footer"
    ;
}




@media screen and (max-width: 576px) {
    .container{
        gap: 15px;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "sidebar"
        "advertise"
        "footer"
        ;
    }
    
}